@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Permanent+Marker&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Permanent+Marker&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Freckle+Face&family=Great+Vibes&family=Merienda+One&family=Permanent+Marker&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Freckle+Face&family=Great+Vibes&family=Merienda+One&family=Permanent+Marker&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Freckle+Face&family=Great+Vibes&family=Merienda+One&family=Permanent+Marker&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Freckle+Face&family=Great+Vibes&family=Merienda+One&family=Permanent+Marker&family=Press+Start+2P&display=swap");
#barra {
  min-height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #00439c, dodgerblue);
}
#barra ul {
  list-style-type: none;
}
#barra ul li {
  display: inline-block;
  padding: 0 10px;
}
#barra ul li li a {
  color: cornsilk;
  font-size: 30px;
  text-decoration: none;
}

.encabezado__titulo {
  padding: 2em;
  color: dodgerblue;
  font-family: "Press Start 2P", cursive;
  font-size: xx-large;
  font-weight: 400;
  text-align: center;
  text-shadow: 5px 5px 5px black;
  margin-bottom: 50px;
}
.encabezado__titulo h1 {
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: initial;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.subtitulos {
  color: #c482ae;
  font-family: "Bungee Inline", cursive;
  font-size: xx-large;
  text-align: center;
  text-shadow: 50px;
  margin-bottom: 50px;
}

.boton {
  border: none;
  min-width: 180px;
  height: 50px;
  padding: 0 30px;
  background: #000;
  color: #fff;
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: #403CC2;
  transition: 0.3s ease all;
}

.boton:hover {
  background: #1B1881;
  text-decoration: none;
}

.boton--absolute {
  position: absolute;
  right: 20px;
  bottom: -25px;
}

.boton__texto {
  font-weight: 600;
}

#footer {
  min-height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  background-color: #00439c;
  margin-top: 300px;
}
#footer .PdePag {
  display: flex;
  display: inline-block;
  padding: 10px 10px 10px;
  margin-top: 100px;
}
#footer .PdePag .titulo__footer {
  color: cornsilk;
  font-size: 30px;
}
#footer .PdePag .parrafo {
  color: cornsilk;
  font-size: 20px;
}

.contenedor__noticias {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "noticia1 noticia1" "noticia2 noticia2" "noticia3 noticia3";
}
.contenedor__noticias .noticia1 {
  grid-area: noticia1;
  display: flex;
  flex-direction: row;
}
.contenedor__noticias .noticia2 {
  grid-area: noticia2;
  display: flex;
  flex-direction: row;
}
.contenedor__noticias .noticia3 {
  grid-area: noticia3;
  display: flex;
  flex-direction: row;
}

img {
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: initial;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.consolas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  margin: auto;
}

.consolas__titulo {
  font-family: "Freckle Face", cursive;
  font-weight: 300;
  font-size: xx-large;
  color: black;
  text-align: center;
  line-height: 10rem;
}

.socalo {
  background-color: #e4e3e3;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.contenedor {
  display: flex;
  justify-content: space-around;
}
.contenedor .card {
  background-color: #cbddf0;
}

.tabla {
  margin-bottom: 10%;
}
.tabla .tabla__subtitulos {
  color: orangered;
  font-family: "Bungee Inline", cursive;
  font-size: xx-large;
  text-align: center;
  text-shadow: 5px 5px 5px black;
  margin-bottom: 50px;
}

.tabla__descripcion {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  text-align: center;
  margin-bottom: 100px;
}

table {
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: initial;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  background-color: floralwhite;
}

.carruselIndex {
  display: grid;
  transform: translate(350px) scale(2, 1);
  margin-bottom: 100px;
}

.descripcion {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  text-align: center;
  margin-bottom: 100px;
}

nav {
  text-align: center;
  background-color: black;
}

nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  display: inline-block;
  background-color: floralwhite;
  padding: 10px 10px 10px 10px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px black;
  font-family: "Permanent Marker", cursive;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.instagram {
  color: pink;
}

.twitter {
  color: lightblue;
}

.youtube {
  color: red;
}

.mail {
  color: black;
}

.carousel-inner {
  width: 1000px;
}
.carousel-inner img {
  width: 2000px;
}

/*# sourceMappingURL=style.css.map */
