.contenedor { 
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
    font-size: 1em;
}
.contenedor__cards {
	margin: 70px 0;
}
.card {
	display: grid;
	background-image: linear-gradient(to left, yellow, dodgerblue);
    /*background: #FFF*/
	border-radius: 15px;
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 50px;   
}
.card__extracto {
	line-height: 28px;
	color: #36053D;
	margin-bottom: 20px;
}
.card__enlace {
	color: #000;

}
.card__titulo {
	color: #085EFF;
	font-family: 'Merienda One', cursive;
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 20px;

}
.card__thumbnail {
	max-height: 80px;
	width: 300px;
	margin-right: 20px;
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;

}




 





