.consolas{
	margin: auto;
}
.consolas__titulo{
	font-family: 'Freckle Face', cursive;
	font-weight: 300;
	font-size: xx-large;
	color: black;
	text-align: center;
	line-height: 10rem;
}

.socalo {
	background-color: rgb(228, 227, 227) ;
}