#footer {
	min-height: 400px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-between;	
	background-color: #00439c;
	margin-top: 300px;
	.PdePag {
		display: flex;
		display: inline-block;
		padding: 10px 10px 10px;
		margin-top: 100px;
		.titulo__footer {
			color: cornsilk;
			font-size: 30px;
		}
		.parrafo {
			color: cornsilk;
			font-size: 20px;
		}
	}
}







